@media (min-width: 1800px) {
  

}

@media (max-width: 1399.98px) {
}

@media (min-width: 1024px) and (max-width: 1366px) {

}

@media (min-width: 1200px) and (max-width: 1366px) {

}

@media (max-width: 1199.98px) {

}
@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (max-width:991.98px) {
	.right-social {
    display: none;
}
a.navbar-brand img {
    max-height: 62px;
}
div#navbarNavDropdown {
    position: absolute;
    top: 68px;
    background: #fff;
    width: 100%;
    z-index: 9;
    left: 0;
    padding: 1rem;
}
header.header-area.bg-light{
	position: relative;
}
nav.navbar.navbar-expand-lg.navbar-light {
    position: inherit !important;
}
.navbar-light .navbar-toggler {
    border: 0;
    box-shadow: none !important;
}
}
@media (min-width: 768px) and (max-width: 991.98px) {

}
@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (max-width:767.98px) {
	body{
		font-size: 12px
	}
	a.navbar-brand img {
    max-height: 52px;
}

}
@media (max-width:575.98px) {

}